body {
  color: rgb(52, 11, 90);
  font-family: Arial, sans-serif;
  background: rgba(255, 255, 240, 0.35);
}

.img_header {
  border-radius: 12px;
  max-width: 150px;}

.div_header {
  margin: 0 auto;
  max-width: 85%;
   box-shadow: 0 4px 10px rgba(121, 3, 3, 0.1);
  padding: 12px;
  border-radius: 12px;
  background-color: rgba(127, 255, 0, 0.055);
  display: flex;
  gap: 24px;
}

h2 {
  text-align: center;
  border-radius: 12px;
  padding: 12px;
}

footer {
  border-radius: 12px;
  text-align: center;
  margin: 20px auto;
  background-color: rgba(127, 255, 0, 0.055);
  max-width: 85%;
   box-shadow: 0 4px 10px rgba(121, 3, 3, 0.1);
}

.div_footer {
  padding: 12px;
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

a {
  color: rgb(52, 11, 90);
  font-size: smaller;
}

.dimension_icones {
  border-radius: 10px;
  padding: 12px;
  width: 35px;
  height: auto;
  transition: transform 0.3s ease;
}

.dimension_icones:hover {
    transform: scale(1.5);
}

.gallery-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;
}

.gallery-item {
  background-color: rgba(44, 66, 81, 0.025);
  overflow: visible;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(121, 3, 3, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.img-wrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.gallery-title {
  margin-bottom: 6px; /* espace entre le titre et l'image */
  text-align: center;
  font-weight: 500;
}

/* Modale */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
}

.modal-content img {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.modal-title {
  font-size: large;
  color: #fff;
  margin-top: 10px;
}

.modal-close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fff;
  border: none;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 8px;
  line-height: 1;
}

